ldap {
    com.dtolabs.rundeck.jetty.jaas.JettyCachingLdapLoginModule required
    debug="{{rundeck_ldap.debug}}"
    contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    providerUrl="{{rundeck_ldap.providerUrl}}"
    bindDn="{{rundeck_ldap.bindDn}}"
    bindPassword="{{rundeck_ldap.bindPassword}}"
    authenticationMethod="simple"
    forceBindingLogin="true"
    userBaseDn="{{rundeck_ldap.userBaseDn}}"
    userRdnAttribute="{{rundeck_ldap.userRdnAttribute}}"
    userIdAttribute="{{rundeck_ldap.userIdAttribute}}"
    userPasswordAttribute="{{rundeck_ldap.userPasswordAttribute}}"
    userObjectClass="{{rundeck_ldap.userObjectClass}}"
    roleBaseDn="{{rundeck_ldap.roleBaseDn}}"
    roleNameAttribute="{{rundeck_ldap.roleNameAttribute}}"
    roleMemberAttribute="{{rundeck_ldap.roleMemberAttribute}}"
    roleObjectClass="{{rundeck_ldap.roleObjectClass}}"
    cacheDurationMillis="300000"
    reportStatistics="true"
    nestedGroups="true";
    };