ldap {
    com.dtolabs.rundeck.jetty.jaas.JettyCachingLdapLoginModule required
    debug="{{rundeck_ldap_debug}}"
    contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    providerUrl="{{rundeck_ldap_providerUrl}}"
    bindDn="{{rundeck_ldap_bindDn}}"
    bindPassword="{{rundeck_ldap_bindPassword}}"
    authenticationMethod="{{rundeck_ldap_authenticationMethod}}"
    forceBindingLogin="{{rundeck_ldap_forceBindingLogin}}"
    userBaseDn="{{rundeck_ldap_userBaseDn}}"
    userRdnAttribute="{{rundeck_ldap_userRdnAttribute}}"
    userIdAttribute="{{rundeck_ldap_userIdAttribute}}"
    userLastNameAttribute="{{rundeck_ldap_userLastNameAttribute}}"
    userFirstNameAttribute="{{rundeck_ldap_userFirstNameAttribute}}"
    userEmailAttribute="{{rundeck_ldap_userEmailAttribute}}"
    userPasswordAttribute="{{rundeck_ldap_userPasswordAttribute}}"
    userObjectClass="{{rundeck_ldap_userObjectClass}}"
    roleBaseDn="{{rundeck_ldap_roleBaseDn}}"
    roleNameAttribute="{{rundeck_ldap_roleNameAttribute}}"
    roleMemberAttribute="{{rundeck_ldap_roleMemberAttribute}}"
    roleObjectClass="{{rundeck_ldap_roleObjectClass}}"
    cacheDurationMillis="{{rundeck_ldap_cacheDurationMillis}}"
    reportStatistics="{{rundeck_ldap_reportStatistics}}"
    nestedGroups="{{rundeck_ldap_nestedGroups}}";
    };